{% extends 'base.html.twig' %}

{% block body %}
    <h1>Colocation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ colocation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ colocation.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ colocation.prenom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ colocation.description }}</td>
            </tr>
            <tr>
                <th>Idu</th>
                <td>{{ colocation.idu }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ colocation.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('colocation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('colocation_edit', { 'id': colocation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
