
{% extends 'base.html.twig' %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div class="careplus-subheader">
            <div class="careplus-subheader-image">
                <span class="careplus-dark-transparent"></span>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Esprit Entr'aide</h1>
                            <span>Bienvenue Sur notre Plateform</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="careplus-breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li><a href="#">Homepage</a></li>
                                <li>Formulaire</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// SubHeader \\-->

        <!--// Main Content \\-->
        <div class="careplus-main-content">

            <!--// Main Section \\-->
            <div class="careplus-main-section">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="careplus-appointment-request-form">
                                <form id="signupForm" method="POST" action="{{ path('covoiturage_new') }}">

                                    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>

                                    <script type="text/javascript">
                                        $(function () {
                                            var mapOptions = {
                                                center: new google.maps.LatLng(36.8, 10.1),
                                                zoom: 7,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            };

                                            var infoWindow = new google.maps.InfoWindow();
                                            var latlngbounds = new google.maps.LatLngBounds();
                                            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                                            google.maps.event.addListener(map,
                                                'click',
                                                function (e) {

                                                    // alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
                                                    document.getElementById("lat").value = e.latLng.lat();
                                                    document.getElementById("long").value = e.latLng.lng();
                                                    //document.getElementById("p2").innerHTML = e.latLng.lng();

                                                });
                                            markerdepart = new google.maps.Marker({
                                                map: map,
                                                draggable: true,
                                                animation: google.maps.Animation.DROP,
                                                position: { lat: 36.8, lng: 10.1 }
                                            });
                                            markerarrive = new google.maps.Marker({
                                                map: map,
                                                draggable: true,
                                                animation: google.maps.Animation.DROP,
                                                position: { lat: 36.8, lng: 10.1 }
                                            });
                                            markerdepart.addListener('click', toggleBounce);
                                            markerarrive.addListener('click', toggleBounce);

                                            var latdep ;
                                            var latarr ;
                                            var lngdep ;
                                            var lngarr ;
                                            //marker.setPosition(tx);

                                            google.maps.event.addListener(markerdepart,
                                                'dragend',
                                                function () {

                                                     latdep = markerdepart.getPosition().lat();
                                                     lngdep = markerdepart.getPosition().lng();
                                                    var latlngdep = new google.maps.LatLng(latdep, lngdep);
                                                    var geocoderdep = geocoder = new google.maps.Geocoder();
                                                    geocoderdep.geocode({ 'latLng': latlngdep },
                                                        function (results, status) {

                                                            if (status == google.maps.GeocoderStatus.OK) {
                                                                if (results[1]) {
                                                                    //alert("Location: " + results[1].formatted_address);
                                                                    $(document).find("#cityAdresse").val(results[1].formatted_address);
                                                                    $("#cityAdressearr").val(results[1].formatted_address);
                                                                    $("#laltitudedep").val(results[1].geometry.location.lat());
                                                                    $("#longitudedep").val(results[1].geometry.location.lng());
                                                                    console.log(results[1].formatted_address+"there is nice job");
                                                                    document.getElementById("departId").value = results[1].formatted_address;
                                                                }
                                                            }
                                                        });

                                                });

                                            google.maps.event.addListener(markerarrive,
                                                'dragend',
                                                function () {

                                                    latarr = markerarrive.getPosition().lat();
                                                    lngarr = markerarrive.getPosition().lng();
                                                    var latlngdep = new google.maps.LatLng(latarr, lngarr);
                                                    var geocoderdep = geocoder = new google.maps.Geocoder();
                                                    geocoderdep.geocode({ 'latLng': latlngdep },
                                                        function (results, status) {

                                                            if (status == google.maps.GeocoderStatus.OK) {
                                                                if (results[1]) {
                                                                    //alert("Location: " + results[1].formatted_address);
                                                                    $(document).find("#cityAdresse").val(results[1].formatted_address);
                                                                    $("#cityAdressearr").val(results[1].formatted_address);
                                                                    $("#laltitudedep").val(results[1].geometry.location.lat());
                                                                    $("#longitudedep").val(results[1].geometry.location.lng());
                                                                    console.log(results[1].formatted_address+"there is nice job");
                                                                    document.getElementById("arriveId").value = results[1].formatted_address;
                                                                }
                                                            }
                                                        });
                                                });




                                            function toggleBounce() {
                                                if (markerdepart.getAnimation() !== null) {
                                                    markerdepart.setAnimation(null);
                                                } else {
                                                    markerdepart.setAnimation(google.maps.Animation.BOUNCE);
                                                }
                                            }

                                        });


                                    </script>
                                    <center>
                                        <div id="dvMap" style="width: 500px; height: 300px; margin-bottom: 100px;">
                                        </div>
                                    </center>

                                    <ul>
                                        <li class="careplus-appointment-fullform"> <span>Destination:</span> </li>
                                        <li>
                                            <input id="departId" value="" name="Depart"  tabindex="0" type="text" required>
                                        </li>
                                        <li>
                                            <input  id="arriveId" value="" name="Arrive" onblur="if(this.value == '') { this.value ='Middle Name'; }" onfocus="if(this.value =='Middle Name') { this.value = ''; }" tabindex="0" type="text" required>
                                        </li>

                                        <li class="careplus-appointment-fullform"> <span>Num-Tel:</span> </li>
                                        <li>
                                            <input value="Num-Tel" name="NumTel" onblur="if(this.value == '') { this.value =''; }" onfocus="if(this.value =='') { this.value = ''; }" tabindex="0" type="number" required>
                                        </li>
                                        <li class="careplus-appointment-fullform"> <span>Type:</span> </li>
                                        <li class="careplus-appointment-fullform">
                                            <input value="" name="type" onblur="if(this.value == '') { this.value ='Street Address'; }" onfocus="if(this.value =='Street Address') { this.value = ''; }" tabindex="0" type="text" required>
                                        </li>

                                        <li class="careplus-appointment-fullform"> <span>Date Depart:</span> </li>
                                        <li class="careplus-appointment-fullform">
                                            <input value="Street Address" name="temps" id="datetoday" onblur="if(this.value == '') { this.value ='Street Address'; }" onfocus="if(this.value =='Street Address') { this.value = ''; }" tabindex="0" type="date" required>
                                        </li>
                                        <script>
                                            var today = new Date();
                                            var dd = today.getDate();
                                            var mm = today.getMonth()+1;
                                            var yyyy = today.getFullYear();
                                            if (dd<10){dd='0'+dd}
                                            if (mm<10){mm='0'+mm}
                                            today = yyyy + '-' + mm + '-' + dd;
                                            document.getElementById("datetoday").min=today;
                                        </script>

                                        <li class="careplus-appointment-fullform"> <span>Prix:</span> </li>
                                        <li>
                                            <input value="Num-Tel" name="prix" onblur="if(this.value == '') { this.value ='Email'; }" onfocus="if(this.value =='Email') { this.value = ''; }" tabindex="0" type="number" required>
                                        </li>

                                        <li class="careplus-appointment-fullform"> <span>Nombre Places:</span> </li>
                                        <li>
                                            <input value="Num-Tel" name="nombrePlaces" onblur="if(this.value == '') { this.value ='Email'; }" onfocus="if(this.value =='') { this.value = ''; }" tabindex="0" type="number" required>
                                        </li>
<div></div>
                                        <li><label><input value="Submit Now" type="submit"><span></span></label></li>
                                    </ul>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--// Main Section \\-->

        </div>


    </section>
    <script src="{{ asset('bundles/covoiturage/js/bootstrap.js')}}"></script>
    <script src="{{ asset('bundles/covoiturage/js/jquery.dcjqaccordion.2.7.js')}}"></script>
    <script src="{{ asset('bundles/covoiturage/js/scripts.js')}}"></script>
    <script src="{{ asset('bundles/covoiturage/js/jquery.slimscroll.js')}}"></script>
    <script src="{{ asset('bundles/covoiturage/js/jquery.nicescroll.js')}}"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="{{ asset('bundles/covoiturage/js/jquery.scrollTo.js')}}"></script>
    <script src="{{ asset('js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/covoiturage/js/monthly.js')}}"></script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPIuR6EKoHIHFnOqr6WN_Q7_dNDy6Nwj8" type="text/javascript"></script>




{% else %}
    <h1 style="background-color:Tomato;">vous devez vous connecter pour continuer </h1>
    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}

{% endblock %}